<?xml version="1.0" encoding="utf-8"?>
<Applications>
  <Application>
    <Name>Notepad</Name>
    <Path>C:\Windows\System32\notepad.exe</Path>
    <Arguments></Arguments>
    <Start>true</Start>    
  </Application>

  <Application>
    <Name>Calculator</Name>
    <Path>C:\Program Files\Google\Chrome\Application\chrome.exe</Path>
    <Arguments></Arguments>
    <Start>true</Start>    
  </Application>

  <Application>
    <Name>Example Custom App</Name>
    <Path>C:\MyApp\server.exe</Path>
    <Arguments>--port 8080 --env production</Arguments>
    <Start>false</Start>    
  </Application>
</Applications>
